.pamela-reif-lets-be-conscious {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 60px;

    .left-img {
        max-width: 600px;
    }
    .right-img {
        max-width: 600px;   
    }


}




