.shoppingcart {
    width: 100% !important;

    .shoppingcart-product {
        margin: 30px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .product-image {
            height: 65px;
            width: 65px;
            margin-right: 20px;
            background-color: $color-lightgray;

            img {
                height: 65px;
                width: 65px;
            }
        }

        .product-info {
            flex: 3;

            .product-info-name {
                font-weight: 500;
                margin-bottom: 5px;
                font-size: 1.1rem;
            }

            .product-info-quantity-box {
                display: inline-block;
                border-radius:5px;
                font-size: 0.8rem;

                span {
                    display: inline-block;
                    height: 25px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    border-top: 1px solid $linear-gradient-dark;
                    border-bottom: 1px solid $linear-gradient-dark;
                }

                .box-button-left {
                    height: 25px;
                    width: 25px;
                    border: none;
                    border-radius: 5px 0 0 5px;
                    border: 1px solid $linear-gradient-dark;
                    background-color: $linear-gradient-light;
                }
                .box-button-right {
                    height: 25px;
                    width: 25px;
                    border: none;
                    border-radius: 0 5px 5px 0;
                    border: 1px solid $linear-gradient-dark;
                    background-color: $linear-gradient-light;
                }
            }
        }

        .product-price {
            flex: 1;
            text-align: right;
            font-weight: 500;
            margin-bottom: 5px;
            font-size: 1.1rem;

            button {
                background-color: transparent;
                border: none;
                padding: 0;

                i {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .shoppingcart {
        width: 500px !important;
    }
}